@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Work+Sans:wght@300&display=swap');
@import 'variable.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  // width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
