@import 'variable.scss';

.container {
  background: $color-background-1;
  height: auto;
  width: 100vw;
  overflow-y: hidden;
  position: relative;
  z-index: 2;
  .star1 {
    position: absolute;
    height: 243px;
    width: 243px;
    top: 260px;
    left: 585px;
    z-index: -1;
  }
  .star2 {
    position: absolute;
    height: 377px;
    width: 377px;
    top: 630px;
    left: -155px;
    transform: rotate(-50deg);
    z-index: -1;
  }
  .midSubContainer {
    // overflow-x: hidden;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    .midSubContainerChild1 {
      width: 45%;
      .midSubContainerChild1_h1 {
        width: 543px;
        padding: 0px 75px;
        color: $color-light;
        text-shadow: $color-secondary -2px 2px 2px;
        h1 {
          font-size: 72px;
          margin-bottom: 15px;
        }
      }
      .midSubContainerChild1_p {
        // border: 2px solid red;
        width: 543px;
        height: 72px;
        padding: 0px 75px;
        color: $color-light;
        p {
          font-size: 16px;
          width: 400px;
          text-align: left;
          margin: 25px 0px;
        }
      }
      .midSubContainerChild1_btn {
        margin-top: 55px;
        width: 543px;
        height: 72px;
        padding: 0px 75px;
        color: $color-light;
      }
      p {
        width: 400px;
        text-align: left;
        margin: 0px;
      }
    }
    .midSubContainerChild2 {
      width: 55%;
      img {
        border-radius: 25px;
        height: 667px;
        width: 752px;
        -webkit-box-shadow: -60px 70px 119px -61px rgba(48, 36, 93, 1);
        -moz-box-shadow: -60px 70px 119px -61px rgba(48, 36, 93, 1);
        box-shadow: -60px 70px 119px -61px rgba(48, 36, 93, 1);
      }
    }
  }
  .bottom_container {
    width: 1312px;
    margin: auto;
    background: $color-background-1;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    display: flex;
    margin-top: 190px;
    .bottom_container_card {
      padding: 10px;
      width: 512px;
    }
    .List_Container {
      width: 798px;
    }
    margin-bottom: 80px;
  }
}
