$color-primary: #06cde3;
$color-secondary: #6B1EFF;
$color-light: #ffffff;
$color-dark-1: #111111;
$color-background-1: #1d1f2d;
$color-background-2: #252737;
$color-entendedList: #35384F;
$screen-length-bar-1: 1900px;
$screen-length-bar-2: 2400px;
